# PANDAS - Aplicaciones fundamentales

Manual de uso con las aplicaciones que no pueden faltar a la hora de manejar DataFrames para la Ciencia de Datos. 

Abajo, un índice de temas tentativo.

Crear un dataframe
- a partir de un csv
- a partir de un excel
- a partir de un diccionario
- otros métodos

Concatenar DataFrames / Series

Separar DF y/o Series de un DF

Agregar, editar y eliminar columnas de un DF

Agregar, editar y eliminar filas de un DF

Buscar por Columna

Buscar por Fila

Buscar un dato específico

Agregar índices específicos

Agregar nombres a las columnas

Group by

Links que voy juntando con data muy buena:
- https://sparkbyexamples.com/pandas/pandas-select-rows-by-index/
- https://www.kaggle.com/datasets/arshid/iris-flower-dataset?select=IRIS.csv

<p style="text-align: center; color: #FAFAFA; border: 2px solid gold; background-color: #202020; border-radius: 15px; font-size: 2em; width: 400px; margin: auto; padding: 10px;">
    Acá arrancamos!
</p>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('IRIS.csv')
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [ ]:
songs = {
    'album':
    [
        'Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell'
    ],
    'Released': [
        1982, 1980, 1973, 1992, 1977
    ],
    'Length': [
        '00:42:19', '00:42:11', '00:42:49', '00:57:44', '00:46:33'
    ]
}

df2 = pd.DataFrame(songs)
df2

                       album  Released    Length
0                   Thriller      1982  00:42:19
1              Back in Black      1980  00:42:11
2  The Dark Side of the Moon      1973  00:42:49
3              The Bodyguard      1992  00:57:44
4            Bat Out of Hell      1977  00:46:33

## Seleccionando FILAS

In [ ]:
indices = ['Uno', 'Dos', 'Tres', 'Cuatro', 'Cinco']
df2.index = indices

In [ ]:
df2

                            album  Released    Length
Uno                      Thriller      1982  00:42:19
Dos                 Back in Black      1980  00:42:11
Tres    The Dark Side of the Moon      1973  00:42:49
Cuatro              The Bodyguard      1992  00:57:44
Cinco             Bat Out of Hell      1977  00:46:33

In [ ]:
# Selecciono toda una fila, por índice
df2.iloc[1]

album       Back in Black
Released             1980
Length           00:42:11
Name: Dos, dtype: object

In [ ]:
# Selecciono varias filas por índice
df2.iloc[[1, 3]]

                album  Released    Length
Dos     Back in Black      1980  00:42:11
Cuatro  The Bodyguard      1992  00:57:44

In [ ]:
# Selecciono varias filas por rango de índice
df2.iloc[0:3]

                          album  Released    Length
Uno                    Thriller      1982  00:42:19
Dos               Back in Black      1980  00:42:11
Tres  The Dark Side of the Moon      1973  00:42:49

In [ ]:
# Selecciono fila por NOMBRE del índice
df2.loc['Cuatro']

album       The Bodyguard
Released             1992
Length           00:57:44
Name: Cuatro, dtype: object

Aplican los mismos métodos: seleccionar varias filas pasándole una lista o un slice

## Seleccionando COLUMNAS