# Vamo a practicar

In [7]:
with open('archivito.txt', 'r', encoding='utf-8') as file:
    archivo = file.read()
    print(archivo)

Yo soy la primer línea
yo soy la segunda

Yo soy la tercera dejando el renglón 3 vacío
            Yo soy la 4ta con 3 tabs al inicio
Y yo la 5ta con 3 tabs al final

Yo soy la 6ta, volviendo a dejar un renglón vacío
Yo soy la 7ma, con 10 espacioa al final
     Yo la 8va con 5 al ppio y 5 al final
          Y yo, la última (la 9na pero que está en la línea 11), con 10 espacios al principio

In [18]:
archivo.__repr__()

"'Yo soy la primer línea\\nyo soy la segunda\\n\\nYo soy la tercera dejando el renglón 3 vacío\\n            Yo soy la 4ta con 3 tabs al inicio\\nY yo la 5ta con 3 tabs al final         \\n\\nYo soy la 6ta, volviendo a dejar un renglón vacío\\nYo soy la 7ma, con 10 espacioa al final          \\n     Yo la 8va con 5 al ppio y 5 al final     \\n          Y yo, la última (la 9na pero que está en la línea 11), con 10 espacios al principio'"

In [30]:
with open('archivito.txt', 'r', encoding='utf-8') as file:
    archivo2 = file.readlines()
# print(archivo2)
type(archivo2)

list

In [68]:
with open('archivo_creado', 'w', encoding='utf-8') as file:
    file.write('Holis!\n')
    file.write('Holis2!\n')

In [69]:
with open('archivito.txt', 'r', encoding='utf-8') as archivo_a_copiar:
    with open('archivo_nuevo.txt', 'w', encoding='utf-8') as archivo_copiado:
        for line in archivo_a_copiar:
            archivo_copiado.write(line)

# PANDAS

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('IRIS.csv')
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [5]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [6]:
songs = {
    'album':
    [
        'Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell'
    ],
    'Released': [
        1982, 1980, 1973, 1992, 1977
    ],
    'Length': [
        '00:42:19', '00:42:11', '00:42:49', '00:57:44', '00:46:33'
    ]
}

df2 = pd.DataFrame(songs)
df2

                       album  Released    Length
0                   Thriller      1982  00:42:19
1              Back in Black      1980  00:42:11
2  The Dark Side of the Moon      1973  00:42:49
3              The Bodyguard      1992  00:57:44
4            Bat Out of Hell      1977  00:46:33

## Seleccionando FILAS

In [22]:
indices = ['Uno', 'Dos', 'Tres', 'Cuatro', 'Cinco']
df2.index = indices

In [30]:
df2

                            album  Released    Length
Uno                      Thriller      1982  00:42:19
Dos                 Back in Black      1980  00:42:11
Tres    The Dark Side of the Moon      1973  00:42:49
Cuatro              The Bodyguard      1992  00:57:44
Cinco             Bat Out of Hell      1977  00:46:33

In [28]:
# Selecciono toda una fila, por índice
df2.iloc[1]

album       Back in Black
Released             1980
Length           00:42:11
Name: Dos, dtype: object

In [29]:
# Selecciono varias filas por índice
df2.iloc[[1, 3]]

                album  Released    Length
Dos     Back in Black      1980  00:42:11
Cuatro  The Bodyguard      1992  00:57:44

In [32]:
# Selecciono varias filas por rango de índice
df2.iloc[0:3]

                          album  Released    Length
Uno                    Thriller      1982  00:42:19
Dos               Back in Black      1980  00:42:11
Tres  The Dark Side of the Moon      1973  00:42:49

In [35]:
# Selecciono fila por NOMBRE del índice
df2.loc['Cuatro']

album       The Bodyguard
Released             1992
Length           00:57:44
Name: Cuatro, dtype: object

Aplican los mismos métodos: seleccionar varias filas pasándole una lista o un slice

## Seleccionando COLUMNAS